# *.log ### Ocultar todos os arquivos com uma determinada extensão

main.acn
main.bbl
main.glo
main.glsdefs
main.ist
main.synctex.gz
main.thm
main.aux
main.fdb_latexmk
main.fls
main.log
main.blg
main.lot
main.toc
main.idx
main.ilg
main.ind
main.glsdefs

.vscode/
build/